.social-share {
    padding: 0px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    padding-top: 20px;
}

#SOHUCS {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 120px;
}