.social-share {
    padding: 0px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    /*padding-top: 20px;*/
}

.comment {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 680px;
    margin: auto;
    margin-bottom: 120px;
}