


/*PC*/
@media screen and (min-width: 480px) {
    .comment {
        width: 680px;
        margin: auto;
    }
}

/*Mobile*/
@media screen and (max-width: 480px) {
    .comment {
        padding: 10px;
    }
}