.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.middle-content {
    flex: 1;
    display: flex;
}

.middle-content > .left {
    flex: 0 0 30%;
}

.middle-content > .right {
    flex: 0 0 50%;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #4ECDC4;
    height: 300px;
}

.posts {
    margin-top: 10px;
}

.post {
    border: 1px solid #f0f0f0;
    padding: 15px;
}

.post:hover {
    border-color: #dadada;
}

.post>.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 90px;
    color: white;
}