.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.middle-content {
    flex: 1;
    display: flex;
}

.middle-content > .left {
    flex: 0 0 25%;
}

.middle-content > .center {
    flex: 0 0 50%;
}

.middle-content > .right {
    flex: 0 0 25%;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #4ECDC4;
    height: 300px;
}

.posts {
    margin-top: 10px;
}

.post {
    border: 1px solid #f0f0f0;
    padding: 10px 15px;
}

.post:hover {
    border-color: #dadada;
}

.post>.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 90px;
    color: white;
}

.middle > .post-title > a:hover {
    color: #29afec;
}

.middle > .post-title > a {
    color: #888;
    text-decoration:none;
}

.bottom {
    display: flex;
}

.bottom > .datetime{
    color: #888888;
}
.bottom > .views{
    color: #888888;
}

.bottom > .category {
    color: #888888;
}

.ps:not(:first-child) {
    margin-left: 20px;
}