.markdown-body {
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    line-height: 1.8em;
}

.markdown-body > blockquote {
    font-size: 1em;
    line-height: 1.5em;
}

.markdown-body > pre {
    border: none;
}

@media screen and (min-width: 480px) {
    .markdown-body {
        font-size: 1.1em;
        padding: 20px 20px 40px 20px;
        margin: 60px auto;
        min-width: 200px;
        max-width: 680px;
    }
}

@media screen and (max-width: 480px) {
    .markdown-body {
        margin: auto;
        max-width: 100%;
        padding: 20px 10px;
    }
}