<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Athena</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %} "/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="main">
    <div class="cover header">
        <embed style="height: 100px;" class="logo" src="{% static 'images/internet.svg' %}" type="image/svg+xml"></embed>
        <h1 style="color: white; font-size: 60px">Athena Blog System</h1>
        <h4>八百标兵奔北坡，北坡炮兵并排跑，炮兵怕把标兵碰，标兵怕碰炮兵炮</h4>
    </div>
    <div class="middle-content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        <h4>八百标兵奔北坡，北坡炮兵并排跑，炮兵怕把标兵碰，标兵怕碰炮兵炮</h4>
    </div>
</body>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>