{% extends 'base.html' %}

{% block mainbody %}
    <div class="cover header">
        {% load staticfiles %}
        <img style="height: 100px;" class="logo" src="{% static 'images/internet.svg' %}"/>
        <h1 style="color: white; font-size: 50px">z正小歪</h1>
{#        <a href="https://github.com/zhengxiaowai" target="_blank">#}
{#            <img style="width: 128px; height: 64px" src="{% static 'images/github.svg' %}">#}
{#        </a>#}
    </div>
    <div class="middle-content">
        {% block middlecontent %}{% endblock %}
    </div>
    <div class="footer">
        <div class="footer-left"></div>
        <div class="footer-center">
            <div class="footer-center-left">
                <div><i class="iconfont">&#xe69f;</i><a href={{ info.GITHUB }} target="_blank">zhengxiaowai</a></div>
                <div><i class="iconfont">&#xe653;</i><a href={{ info.LINKED }} target="_blank"><span>Sean Ho</span></a></div>
                <div><i class="iconfont">&#xe70f;</i><a href="mailto:{{ info.EMAIL }}" ><span>h1x2y3awalm@gmail.com</span></a></div>
                <div><i class="iconfont">&#xe604;</i><a href="#" target="_blank"><span>About Me</span></a></div>
            </div>

            <div class="footer-center-right">
                <div><i class="iconfont">&#xe646;</i><span>{{ info.COPYRIGHT }}</span></div>
            </div>

        </div>
        <div class="footer-right">
            <div class="ad">
                <a href={{ info.VULTR }} target="_blank">
                    <img class="ad-vultr" width="120px" src="{% static 'images/badge_ondark.svg' %}" alt="vultr">
                </a>
            </div>
        </div>
    </div>
{% endblock %}
