{% extends "index.html" %}

{% block middlecontent %}
    <div class="left">
        <div class="slide">
            <div class="slide-items">
                {% for category_name, category_number in categories.items %}
                    <div class="slide-item"><a href="?category={{ category_name }}"><span>{{ category_name|title }}</span><span class="badge pull-right post-counts">{{ category_number }}</span></a></div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="center">
        <div class="posts">
            {% for post in posts %}
            <div class="post">
                <div class="top">
                    {#<span class="label label-primary">Python</span>#}
                    {#<span class="avatar">L</span>#}
                </div>
                <div class="middle">
                    <h4 class="post-title"><a href="/posts/{{ post.id }}">{{ post.title }}</a></h4>
                </div>
                <div class="bottom">
                    <div class="datetime ps">
                        <i class="iconfont">&#xe600;</i>
                        <span>{{ post.updated_at }}</span>
                    </div>
                    <div class="views ps">
                        <i class="iconfont">&#xe601;</i>
                        <span>{{ post.views }}</span>

                    </div>
                    <div class="category ps">
                        <i class="iconfont">&#xe602;</i>
                        <span>{{ post.category.name }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="right"></div>

{% endblock %}