{% extends 'base.html' %}

{% load markdown_filter %}
{% load staticfiles %}

{% block mainheader %}
    <link rel="stylesheet" href="{% static 'css/github-gist.css' %}">
    <link rel="stylesheet" href="{% static 'css/markdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}

{% block mainbody %}
    <article id="preview" class="markdown-body">
    {{ file_content | markdown | safe}}
    </article>
    <div class="comment">
        <div class="social-share fix-center"></div>
        <!--PC和WAP自适应版-->
        <div class='fix-center souhucs' id="SOHUCS" sid="cysUksV4X" ></div> 
    </div>

{% endblock %}

{% block mainfooter %}
    <script src="{% static 'js/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{% static 'js/souhu-changyan.js' %}"></script>
    <script src="{% static 'js/social-share.min.js' %}"></script>
{% endblock %}
