{% extends "base.html" %}

{% block content %}
    <div class="left">

    </div>

    <div class="center">
        <div class="posts">
            <div class="post">
                <div class="top">
                    <span class="label label-primary">Python</span>
                    <span class="avatar">L</span>
                </div>
                <div class="middle">
                    <h4 class="post-title"><a href="#">Python 的每日一刻，我是标题要长长的。。</a></h4>
                </div>
                <div class="bottom">
                    <div class="datetime ps">
                        <i class="iconfont">&#xe600;</i>
                        2016-01-09 15:40
                    </div>
                    <div class="views ps">
                        <i class="iconfont">&#xe601;</i>
                        2016
                    </div>
                    <div class="category ps">
                        <i class="iconfont">&#xe602;</i>
                        Python
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right"></div>

{% endblock %}